

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}



.grid-container{
  display: grid;
  grid-template-areas: 'header'
  'main'
  'footer'
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  padding: 10px;
}



main{
  grid-area: main;
  padding: 0.5rem;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}



a{
  text-decoration: none;
}

a.links{
  margin : 0px 5px;
  color: white ;
}
a.brand{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover{
  color: #ff8000;
}




.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.row.center{
  justify-content: center;
}

img{
  border-radius: 5px;
}
img.medium{
  width: 100%;
  max-width: 290px;
}


.card{
  border: 1px #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin:0.7rem;
}
.card-body{
  padding: 0.7rem;
}

.card-body > *{
  margin-bottom: 0.3rem;
}


h1{
  font-size: 1.1rem;
  padding: 1rem 0;
}

h2{
  font-size: 1rem;
  padding: 1rem 0;
}

.price{
  font-size: 1.2rem;
}

.rating span{
  color: #f0c040;
  margin:1px
}

.rating span:last-child{
  color: #203040;
}